* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}


body {
color: #232323;
}

.container {
	max-width: 910px;
	padding: 0 15px;
	width: 100%;
	margin:	 0 auto;
	border: 1px solid red;
}

.nav {
padding: 30px 0;
background-color: #bdbdbd;
display: flex;
align-items: baseline;
}

@media (max-width: 800px) {
	.nav {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap-reverse;
	}
}

@media (max-width: 500px) {
	.nav {

	}
}

img {

}
.nav-links {
	padding: 0px;
}

@media (max-width: 800px) {
	.nav-links {
	}
}

@media (max-width: 500px) {
	.nav-links {
	}
}

.logo {
	padding: 0px;
}

@media (max-width: 800px) {
	.logo {
		display: flex;
		height: 30px;
	}
}

@media (max-width: 500px) {
	.logo {

	}
}

.nav a {
margin-right: 62px;
text-decoration: none;
color: dodgerblue;
display: inline-block;
transform: translateY(-10px);

}

.header {
padding: 50px;
}

.heading-wrapper {
text-align: center;
display: inline-block;
padding: 50px;
width: 100%;
}

.heading {
font-size: 72px;
margin-bottom: 20px;
}

.img-wrapper {
display: inline-block;
}

@media (max-width: 800px) {
	.img-wrapper {
		display: none;
	}
}

@media (max-width: 500px) {
	.img-wrapper {
		display: none;
	}
}

.group:before,
.group:after {
content: "";
display: table;
}
.group:after {
clear: both;
}
.group {
zoom: 1;
}

.btn {
display: inline-block;
text-decoration: none;
color: inherit;
padding: 8px 60px;
border: 1px solid black;
}

.top-section,
.bottom-section,
.contact-section {
padding: 30px 0;
text-align: justify;
width: 100%
}

.top-section article {
display: inline-block;
width: 48%;
padding-right: 20px;
}

.bottom-section article {
display: inline-block;
width: 32.81%;
padding-right: 20px;
}

footer {
text-align: center;
font-size: 14px;
padding: 15px 0;
}

.middle {
	width: 100%;
}